@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    height: 100vh;
    width: 100%;
}

.container{
    background-color: rgb(255, 255, 255);
    height: 594px;
    width: 420px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  
}


table{
    padding: 3px;
    font-size: 7px;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}
table {
  table-layout: fixed;
}

.address_me p{
    font-size: 6px;
}

table th p{
    font-weight: 400;
}


.para p{
    font-weight: 400;
}

.tab_hi{
    height: 180px;
}

.qr img{
    height: 40px;
}

.sign{
    text-align: center;
}

.sign img{
    height: 50px;
}

.logo img{
    height: 40px;
}

#owner_logo{
    display: flex;

}